body{
    color: #fff;
    font-family: lato;
    background-color:#181a1c;
}

.navbar {
    
    height: 94px;
    font-size: medium;
  }
  .navbar-brand {
  margin-right: 80px;
  margin-left: 80px;
  }
  .nav-link {
  margin-right: 80px;
  color: #fff;
  }
  
  .nav-link:hover {
    color: #fff;
  }
  
  .navbar-dd {
    border-radius: 50%;
    width: 76px;
    height: 40px;
    display: flex;
  }

  .icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .banner {
    color: #fff;
  }

  .row-poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }

  .row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px
  }

    